<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zuzor Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#Home">Home</a></li>
        <li><a href="#About">About</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1> Welcome to ZUZOR!!!</h1>
<body data-spy="scroll" data-target=".navbar">
  <div id="home">
  <% 40.times do |i| %>
    <p> This is a new home paragraph!</p>
  <%end%>
</div>
<div id="about">
  <% 40.times do |i| %>
    <p> This is a new ABOUT paragraph!</p>
  <%end%>
</div>
</body>
