#navbar {
  background-color: #0f0f0f;
  height: 45px;
  position: fixed;
  border-style: solid;
  border: 5px groove silver;
  top : 0px;
  width: 100%;
  padding: 10px 5px 5px 15px; /* top right bottom left*/
}

#navlink {
  font-size:20px;
}

body {
  padding-top: 20px; /*prvent navbar from blocking text*/
}

