#main_navbar {
  height: 45px;
  position: fixed;
  top : 0px;
  width: 100%
  padding: 10px 5px 5px 15px; /* top right bottom left*/
}

#navlink {
  font-size:20px;
}

body {
  position: relative; /* used for scrollspy */
  padding-top: 20px;
}

