#mainNavbar {
  background-color: #FFFFFF;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.navbar {
  text-align: center;
}

body {
  position: relative; /* used for scrollspy */
  padding-top: 40px;
}

